.playlist-line{
    border-radius: 10px;
    overflow: hidden;
}

.playlist-line label{
    width: 150px;
    overflow: hidden;
}

.playlist-line:hover{
    background-color: #1ab26b;
}

.playlist-line:hover label{
    color: #000000;
}
.playlist-line a, svg{
    transition: none;
}

.playlist-line a{
    padding: 10px;
    margin: 0 24px; 
    border-radius: 50%;
}

.playlist-line a:hover{
    background-color: #2e2e2e;
    cursor: pointer;
}

.playlist-line a:hover svg{
    fill: #1ab26b !important;
    cursor: pointer;
}
